#backend
/backend/node_modules/


#no incluir IaC
/iac/

#otros archivos importantes
**/.env
**/TODO.txt

#no incluir archivos de fronted de reactjs
/frontend/node_modules/
/frontend/.gitignore
/frontend/README.md